<!--==========================
  Services Section
  ============================-->
<section id="services">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Treatments</h3>
        <div class="section-title-divider"></div>
        <div align="center" class="row">
          <p align="center" class="section-description" style="text-align:center;">Check the services and treatments available at Feet Foremost*</p>
        </div>

      </div>
    </div>

    <div class="row">


      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">
            <h4 class="service-title">
              <a href="#contact">{{treatment1}}</a>
            </h4>
            <p class="service-description">An initial podiatry assessment is ... Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero culpa,
              ducimus quas quis porro molestiae sint delectus neque ut quos, dolorem totam deleniti enim sequi fugiat distinctio
              eum inventore dolor.</p>

            <p id="collapse1" class="service-description collapse">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure pariatur qui et cumque amet voluptate sequi, quisquam
              facilis. Labore alias, velit quae voluptatum asperiores accusantium delectus atque possimus esse, nihil est
              veniam quibusdam non natus quaerat sit quos quasi repellendus dolore dignissimos ullam laboriosam. Asperiores
              optio illum nulla fugit tempora aliquid placeat suscipit ipsam in. a fugit tempora aliquid placeat suscipit
              ipsam in.

            </p>
            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>
            </div>
            <div class="top-buffer"></div>
            <div class="row">
              <div align="center" class="col-xs-12 price-holder">PRICE:
                <span class="price">{{price1}}</span>
              </div>
              <div align="center" class="col-xs-12 duration-holder">DURATION:
                <span class="price">{{duration1}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">
            <h4 class="service-title">
              <a href="#contact">{{treatment2}}</a>
            </h4>
            <p class="service-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure pariatur qui et cumque amet voluptate sequi, quisquam
              facilis. Labore alias, velit quae voluptatum asperiores accusantium delectus atque possimus esse, nihil est
              veniam quibusdam non natus quaerat sit quos quasi repellendus dolore dignissimos ullam laboriosam. Asperiores
              optio illum nulla fugit tempora aliquid placeat suscipit ipsam in. a fugit tempora aliquid placeat suscipit
              ipsam in.

            </p>

            <p id="collapse2" class="service-description collapse">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure pariatur qui et cumque amet voluptate sequi, quisquam
              facilis. Labore alias, velit quae voluptatum asperiores accusantium delectus atque possimus esse, nihil est
              veniam quibusdam non natus quaerat sit quos quasi repellendus dolore dignissimos ullam laboriosam. Asperiores
              optio illum nulla fugit tempora aliquid placeat suscipit ipsam in. a fugit tempora aliquid placeat suscipit
              ipsam in.

            </p>
            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>
            </div>
            <div class="top-buffer"></div>

            <div class="row">
              <div align="center" class="col-xs-12 price-holder">PRICE:
                <span class="price">{{price2}}</span>
              </div>
              <div align="center" class="col-xs-12 duration-holder">DURATION:
                <span class="price">{{duration2}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">
            <h4 class="service-title">
              <a href="#contact">{{treatment3}}</a>
            </h4>
            <p class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ut dolores exercitationem nihil. Labore modi repellat
              deleniti, quibusdam dolores cum eaque molestiae ut expedita officia, aut quae non atque rem </p>


            <p id="collapse3" class="service-description collapse">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure pariatur qui et cumque amet voluptate sequi, quisquam
              facilis. Labore alias, velit quae voluptatum asperiores accusantium delectus atque possimus esse, nihil est
              veniam quibusdam non natus quaerat sit quos quasi repellendus dolore dignissimos ullam laboriosam. Asperiores
              optio illum nulla fugit tempora aliquid placeat suscipit ipsam in. a fugit tempora aliquid placeat suscipit
              ipsam in.

            </p>
            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>
            </div>
            <div class="top-buffer"></div>


            <div class="row">
              <div align="center" class="col-xs-12 price-holder">PRICE:
                <span class="price">{{price3}}</span>
              </div>
              <div align="center" class="col-xs-12 duration-holder">DURATION:
                <span class="price">{{duration3}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-12 top-buffer"></div>



      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">
            <h4 class="service-title">
              <a href="#contact">{{treatment4}}</a>
            </h4>
            <p class="service-description ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt blanditiis vitae voluptates accusantium nemo
              eligendi eaque dolorem? Deleniti et at rerum, quis possimus provident vero, quia, consequuntur fugiat id omnis
              eaque earum minima deserunt pariatur doloremque non explicabo? Vitae, quos. please contact me to discuss your
              requirements and get a quote.
              <strong>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, esse!</strong>
            </p>

            <p id="collapse4" class="service-description collapse">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure pariatur qui et cumque amet voluptate sequi, quisquam
              facilis. Labore alias, velit quae voluptatum asperiores accusantium delectus atque possimus esse, nihil est
              veniam quibusdam non natus quaerat sit quos quasi repellendus dolore dignissimos ullam laboriosam. Asperiores
              optio illum nulla fugit tempora aliquid placeat suscipit ipsam in. a fugit tempora aliquid placeat suscipit
              ipsam in.

            </p>
            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>
            </div>
            <div class="top-buffer"></div>
            <div class="row">
              <div align="center" class="col-xs-12 price-holder">PRICE:
                <span class="price">{{price4}}</span>
              </div>
              <div align="center" class="col-xs-12 duration-holder">DURATION:
                <span class="price">{{duration4}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact">{{treatment5}}</a>
            </h4>
            <p class="service-description ">Biomechanical assessment examines the function of joints and structures through a range of your usual daily activities
              including standing, walking, running. It also takes into account any particular sports you may undertake. The
              assessment not only examines the foot and lower limb, but also your knees, hips and spine since they all work
              together in a collective chain of movement...
            </p>
            <p id="collapse5" class="service-description collapse">Feet Foremost use the results from their assessment to diagnose and formulate a treatment plan. The plan may
              involve exercises or modifying your exercise or sporting regime as well as devices to support or stretch structures
              during activity. We may also issue prescription orthotic devises which can help realign the body during posture
              and activity. Unlike ‘off the shelf’ high street products, our devices are specifically designed for your individual
              needs. We have a flexible range price options including both pre and custom made devices depending on your
              needs and budget.


            </p>
            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>
            </div>
            <div class="top-buffer"></div>

            <div class="row">
              <div align="center" class="col-xs-12 price-holder">PRICE:
                <span class="price">{{price6}}</span>
              </div>
              <div align="center" class="col-xs-12 duration-holder">DURATION:
                <span class="price">{{duration6}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact">{{treatment6}}</a>
            </h4>
            <p class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum voluptatem fuga obcaecati eaque fugit aut
              quo sed magnam illo minima unde ipsum provident deserunt officia omnis nobis, minus magni architecto recusandae
              impedit voluptate culpa natus expedita? Et, hic quisquam incidunt fugiat ipsum explicabo dolorum asperiores
              voluptatibus optio dignissimos sapiente cumque culpa.
            </p>
            <p id="collapse6" class="service-description collapse">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure pariatur qui et cumque amet voluptate sequi, quisquam
              facilis. Labore alias, velit quae voluptatum asperiores accusantium delectus atque possimus esse, nihil est
              veniam quibusdam non natus quaerat sit quos quasi repellendus dolore dignissimos ullam laboriosam. Asperiores
              optio illum nulla fugit tempora aliquid placeat suscipit ipsam in. a fugit tempora aliquid placeat suscipit
              ipsam in.

            </p>
            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>
            </div>
            <div class="top-buffer"></div>
            <div class="row">
              <div align="center" class="col-xs-12 price-holder">PRICE:
                <span class="price">{{price6}}</span>
              </div>
              <div align="center" class="col-xs-12 duration-holder">DURATION:
                <span class="price">{{duration6}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="col-md-12 top-buffer"></div>

      <div class="container">
        <div class="row">
          <div class="col-xs-12 bottom-align-text ">
            <h5 class="cancellation ">*CANCELLATION POLICY:</h5>
            <p class="cancellation-p ">{{cancellationPolicy1}}</p>
            <p class="cancellation-p ">{{cancellationPolicy2}}</p>
            <p class="cancellation-p ">{{cancellationPolicy3}}</p>
          </div>
        </div>
      </div>


    </div>




  </div>


</section>